.container {
  padding: 0 2rem;
  /* background-image: url('https://live.staticflickr.com/65535/52337888653_46b7f9b59f_z.jpg'); */
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url("https://live.staticflickr.com/65535/52184971774_c2c4664fc5_z.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
}
.main {
  /* min-height: 100vh; */
  padding: 4rem 0;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
