.container {
  padding: 0 2rem;
  /* background-image: url('https://live.staticflickr.com/65535/52337888653_46b7f9b59f_z.jpg'); */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("https://live.staticflickr.com/65535/51763099634_171c177175.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
}
.main {
  /* min-height: 100vh; */
  padding: 4rem 0;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mynavm {
  @apply absolute overflow-x-hidden top-0 right-0 w-[50%] h-[100%] bg-black transition ease-in-out delay-[0.4s] z-10 opacity-0 hidden;
}
.mynavm ul {
  @apply flex flex-col text-[2.5vmax] justify-center items-center h-[80%];
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
