.container {
  padding: 0 2rem;
  /* background-image: url('https://live.staticflickr.com/65535/52337888653_46b7f9b59f_z.jpg'); */
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url('https://live.staticflickr.com/65535/51763099634_171c177175.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.main {
  /* min-height: 100vh; */
  padding: 4rem 0;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
